<div
  class="mt-[150px] ps-15 pe-15"
  *ngIf="headlines$ | async as headlines; else skeleton"
>
  <span class="text-gray-600 font-semibold">Headline</span>

  <div class="flex justify-between items-center mt-4">
    <div>
      <p class="font-bold text-[36px] w-[505px] leading-tight">
        {{ headlines[currentIndex].title }}
      </p>

      <p class="text-gray-500 font-semibold w-[505px] mt-4">
        {{ headlines[currentIndex].description }}
      </p>

      <div class="flex gap-2 mt-3 items-center">
        <img src="./assets/img/kalendar.svg" />
        <p class="text-gray-500 font-semibold">
          {{ headlines[currentIndex].isoDate }}
        </p>
      </div>

      <div class="flex gap-1 mt-6 items-center">
        <a
          class="text-[#0090FF] font-semibold"
          [href]="headlines[currentIndex].link"
          target="_blank"
        >
          Baca Selengkapnya
        </a>
        <img src="./assets/img/arrow.svg" />
      </div>
    </div>

    <div>
      <img
        class="rounded-md w-[480px] h-[300px] object-cover"
        [src]="headlines[currentIndex].image || './assets/img/headline.png'"
      />
    </div>
  </div>

  <div class="flex justify-center mt-10">
    <div class="flex items-center gap-7">
      <button (click)="prev(headlines.length)">
        <img src="./assets/img/arrow-left.svg" />
      </button>

      <span class="font-semibold">{{ currentIndex + 1 }}</span>
      <span>dari</span>
      <span class="font-semibold">{{ headlines.length }}</span>

      <button class="pointer" (click)="next(headlines.length)">
        <img src="./assets/img/arrow-right.svg" />
      </button>
    </div>
  </div>
</div>

<ng-template #skeleton>
  <div class="mt-[150px] ps-15 pe-15 animate-pulse">
    <div class="h-4 w-24 bg-gray-300 rounded mb-6"></div>

    <div class="flex justify-between items-center">
      <div>
        <div class="h-10 w-[505px] bg-gray-300 rounded mb-4"></div>
        <div class="h-4 w-[505px] bg-gray-300 rounded mb-2"></div>
        <div class="h-4 w-[420px] bg-gray-300 rounded mb-6"></div>

        <div class="flex gap-3 items-center mt-4">
          <div class="h-4 w-4 bg-gray-300 rounded-full"></div>
          <div class="h-4 w-32 bg-gray-300 rounded"></div>
        </div>

        <div class="flex gap-2 mt-6">
          <div class="h-4 w-32 bg-gray-300 rounded"></div>
        </div>
      </div>

      <div class="w-[480px] h-[300px] bg-gray-300 rounded-md"></div>
    </div>
  </div>
</ng-template>

