<div class="ps-15 pe-15 pt-10">
<div class="flex items-center gap-3">
  <div class="w-1 h-6 bg-[#0090FF] rounded"></div>
  <h2 class="text-lg font-semibold text-gray-900">
    Berita Terpopuler
  </h2>
</div>
<div class="flex flex-wrap justify-between gap-y-6 p-4">

  <div class="w-full md:w-[48%] lg:w-[23%]">
    <img src="./assets/img/headline.png" class="w-full rounded-xl" />
    <div class="mt-2">
      <p>Pj. Gubernur Adhy Tekankan Pelayanan Berkualitas saat Sharing Session di RSUD Dr. Soetomo</p>
      <div class="flex items-center gap-2 mt-3 text-sm">
        <a class="text-[#0090FF]">Politik</a>
        <img src="./assets/img/elipse.svg" />
        <span class="text-gray-400">22 Jan 2024</span>
      </div>
    </div>
  </div>

  <div class="w-full md:w-[48%] lg:w-[23%]">
    <img src="./assets/img/headline.png" class="w-full rounded-xl" />
    <div class="mt-2">
      <p>Pj. Gubernur Adhy Tekankan Pelayanan Berkualitas saat Sharing Session di RSUD Dr. Soetomo</p>
      <div class="flex items-center gap-2 mt-3 text-sm">
        <a class="text-[#0090FF]">Politik</a>
        <img src="./assets/img/elipse.svg" />
        <span class="text-gray-400">22 Jan 2024</span>
      </div>
    </div>
  </div>

  <div class="w-full md:w-[48%] lg:w-[23%]">
    <img src="./assets/img/headline.png" class="w-full rounded-xl" />
    <div class="mt-2">
      <p>Pj. Gubernur Adhy Tekankan Pelayanan Berkualitas saat Sharing Session di RSUD Dr. Soetomo</p>
      <div class="flex items-center gap-2 mt-3 text-sm">
        <a class="text-[#0090FF]">Politik</a>
        <img src="./assets/img/elipse.svg" />
        <span class="text-gray-400">22 Jan 2024</span>
      </div>
    </div>
  </div>

  <div class="w-full md:w-[48%] lg:w-[23%]">
    <img src="./assets/img/headline.png" class="w-full rounded-xl" />
    <div class="mt-2">
      <p>Pj. Gubernur Adhy Tekankan Pelayanan Berkualitas saat Sharing Session di RSUD Dr. Soetomo</p>
      <div class="flex items-center gap-2 mt-3 text-sm">
        <a class="text-[#0090FF]">Politik</a>
        <img src="./assets/img/elipse.svg" />
        <span class="text-gray-400">22 Jan 2024</span>
      </div>
    </div>
  </div>

  <div class="w-full md:w-[48%] lg:w-[23%]">
    <img src="./assets/img/headline.png" class="w-full rounded-xl" />
    <div class="mt-2">
      <p>Pj. Gubernur Adhy Tekankan Pelayanan Berkualitas saat Sharing Session di RSUD Dr. Soetomo</p>
      <div class="flex items-center gap-2 mt-3 text-sm">
        <a class="text-[#0090FF]">Politik</a>
        <img src="./assets/img/elipse.svg" />
        <span class="text-gray-400">22 Jan 2024</span>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <p class="text-gray-500">Showing 1 to 10 of 97 results</p>
  <div>

  </div>
</div>
</div>
